{% extends 'portal/base.html' %}
{% load static %}
<style>
 
</style>
{% block content %}
<div class="box">
  <h1><strong><i>Welcome to the MCQ Test System</i></strong></h1>
  <div class="container mt-4" style="max-width: 500px;">
    <p><a href="{% url 'login' %}">
      <button class="btn btn-info w-100" style="color: white;">
        Login
      </button>
    </a></p>
    <p><a href="{% url 'portal:register' %}">
      <button class="btn btn-primary w-100">
        Register
      </button>
    </a></p>
  </div>
   
</div>
{% endblock %}
